*{
    margin:0px;
    padding: 0px;
}

header{
    margin:50px;
    display: flex;
    justify-content: space-between;
}

main{
    display: flex;
    justify-content: center;
    
}
header a{
    font-size: 150%;
    color: purple;
    text-decoration: none;
}

header p{
    font-size:150%;
}


.container{
    text-align: center;
    width:70%
}

.container h1{
    padding:30px;
    font-size:300%;
}

.container p{
    font-size:150%;
}

.container button, .answers button{
    margin:20px;
    background-color: purple;
    color:white;
    width:150px;
    height:50px;
    border-radius: 10px;
    font-size:100%;
    cursor: pointer;

}

.answers button{
    display:block;
    width:200px;
}

